### Estimates of Location

Estimates of loacation measures that describes the central tendency of a dataset.
1. mean -->> the average value
2. median -->> the middle value in a sorted dataset
3. trimmed mean -->> the mean after dropping a fixed no. of extreme values
4. weighted mean -->> the mean where each value is multiplied by a weight
5. Outliers -->> A value that is very different from most of the data

In [5]:
import pandas as pd
df=pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
#mean
#lets the mean of column Fare
data=df['Fare']
data.head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

In [11]:
import numpy as np
mean=np.mean(data)
print(f"Mean of Fare(Average) is :${mean}")

Mean of Fare(Average) is :$32.204207968574636

In [15]:
#medion
median=np.median(data)
print(F"Mean of Fare(Middle value) is:${median}")

Mean of Fare(Middle value) is:$14.4542

In [17]:
#trimmed_mean
import scipy
from scipy.stats import trim_mean

trimmed_mean=trim_mean(data,proportiontocut=0.1) #0.1 = 10% of data is trimmed from each edge
print(f"trimmed mean is: ${trimmed_mean}")

trimmed mean is: $21.37871556802244

In [19]:
#weighted mean
#lets create wight data
weight=df['Age']
weight.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [21]:
weighted_mean=np.average(data,weights=weight)
print(weighted_mean)

nan

## missing Value

Missing value are the nan value on dataset. As you can see we encounter nan output where either column Age or Fare must consist nan value so output is affected . lets try to handle missing value.

In [27]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [31]:
#as you can see Age consist of !77 missing value lets handle it.

In [35]:
df['Age'].fillna(0,inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [37]:
#now you see Age have Zero missing value .. Here Nan values are handled.

In [39]:
#lets again try to calculate weighted mean
import numpy as np
data=df['Fare']
weight=df['Age']

weighted_mean=np.average(data, weights=weight)
print(f"Weighted mean of two column Fare and Age is {weighted_mean}")

Weighted mean of two column Fare and Age is 37.177604603688636

## outliers
here in tinanic dataset i dont find very different data from most of data means higher value data among most of data.lets create our own dataset.
try to find how mean and median are robust(not sensitive) to outlier

In [42]:
data_with_outlier=[1,2,3,4,5,100] #100 is outlier

import numpy as np
mean_outlier=np.mean(data_with_outlier)
median_outlier=np.median(data_with_outlier)

print(f"Mean with outlier data is:{mean_outlier} and Median with outlier is:{median_outlier}")

Mean with outlier data is:19.166666666666668 and Median with outlier is:3.5

In [ ]:
#here Mean is more likly affected and Median is not affected by Outliers. Hence Median is robust to outlier and Mean is not robust outlier