## Estimate of Variability

Estimate of Variability measure how spread out the data is. They Compliment estimates of Location(e.g. mean, median) by providing insight into the dispersion of the the data.
1. Varirance-> The average of the squared deviation from the mean.
2. Standard Deviations -> The square root of the variance.
3. Interquartile Range -> The range of the middle 50% of the data(difference between the 75th percentile and the 25th percentile).
4. Mean Absolute Deviation(MAD) -> The average of the absolute deviations fro the mean.
5. Median Absolute Deviations -> the median of the absolute deviations from the median.

In [5]:
import pandas as pd
df=pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
#variance
data=df['Fare']
import numpy as np
variance=np.var(data,ddof=1) #degree of freedom for sample data is 1 which will discuss in incoming chapter
print(f"Variance of column Fare is:{variance:.2f}")

Variance of column Fare is:2469.44

In [13]:
#Standard Deviation
stand_dev=np.std(data,ddof=1)
print(f"Standard Deviation of column Fare is:{stand_dev:.2f}")

Standard Deviation of column Fare is:49.69

In [21]:
#InterQuartile Range
import scipy
from scipy.stats import iqr,median_abs_deviation
IQR=iqr(data)
print(f"InterQuartile Range of column Fare is:{IQR:.2f}")

InterQuartile Range of column Fare is:23.09

In [27]:
#Median Absolute Deviation
MAD=median_abs_deviation(data)
print(f"Median Absolute Deviation of column Fare  is:{MAD:.2f}")

Median Absolute Deviation of column Fare  is:6.90

In [29]:
#Mean Absolute Deviation
mean=np.mean(data)
MeanAD=np.mean(np.abs(data-mean))
print(f"Mean Absolute Deviation of column Fare is:{MeanAD:.2f}")

Mean Absolute Deviation of column Fare is:28.16